.faq-full-container{
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}
.faq-title{
  text-align: center;
  margin-top: 5%;
}
.faq-container{
  background-color: rgb(161, 221, 195);
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 2px gray;
  padding-bottom: 10px;
}
.text-container{
  padding-left: 10px;
}
@media only screen and (max-width: 992px){
  /*Tablets [577px -> 992px]*/
  .faq-full-container{
    margin-top: 330px;
  }
}
@media only screen and (max-width: 576px){
/*Small smartphones [0px -> 576px]*/
  .faq-full-container{
    margin-top: 450px;
  }
}