.recorded-info{
    position: sticky;
    top: 0px;
}
.recorded-info .user img{
    width: 63px;
    height: 63px;
    border-radius: 50%;
}
.user-header{
    display: flex;
    align-items: center;
    gap: 10%;
}
.user-physical-info{
    display: flex;
    justify-content: space-between;
    background-color: rgb(153, 153, 153);
    padding-left: 5%;
    padding-right: 5%;
}
.breaks{
    background-color: rgb(153, 153, 153);
    display: flex;
    justify-content: space-between;
    padding: 3%;
}
.breaks p{
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}
.breaks p:hover{
    background-color: rgb(141, 247, 242);
    cursor: pointer;
}
.exercise-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(153, 153, 153);
    margin-bottom: 5px;
    
    padding-left: 5%;
    padding-right: 5%;
}
.recorded-info button{
    width: 100%;
}
.recorded-info button:hover{
    background-color: rgb(141, 247, 242);
}